body, html {
    height: 100vh;
}
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    border: 1px solid black;
    height: 600px;
    width: 600px;
}
div#holder {
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}