body, html {
    height: 100vh;
    overflow-y: hidden;
    background-color: rgb(46, 46, 46);
}
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    border-left: 1px solid white;
    height: 125%;
    max-width: 75%;

}
div#holder {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
h1 {
    display: flex;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    color: #adadad;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}